<p-dataView 
  [value]="watchlist?.tripIds" 
  #dv 
  [paginator]="true" 
  [rows]="9">
  <ng-template #list let-trip>
    <div class="flex justify-center">
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
        <div *ngFor="let tripId of watchlist?.tripIds">
          <app-watchlist-trip-display 
            [tripId]="tripId" 
            (tripRemoved)="onTripRemoved($event)">
          </app-watchlist-trip-display>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
