<div class="flex flex-col md:flex-row my-6 w-full max-w-4xl mx-auto p-6">
  <!-- Sección Izquierda: Carrusel -->
  <div class="w-full md:w-5/12 flex flex-col items-center justify-center p-6">
    <app-img-carousel [images]="getPictures()" class="w-full max-w-lg"></app-img-carousel>
    <div class="flex flex-wrap gap-2 mt-4">
      <span *ngFor="let requirement of getRequirements() ?? []"
        class="bg-primary-300 text-primary-950 text-sm font-semibold px-3 py-1 rounded-full">
        {{ requirement }}
      </span>
    </div>
  </div>
  
  <!-- Separador -->
  <div class="w-full md:w-1/12 flex items-center justify-center">
    <p-divider layout="vertical" class="!hidden md:!flex"></p-divider>
    <p-divider layout="horizontal" class="!flex md:!hidden" align="center"></p-divider>
  </div>
  
  <!-- Sección Derecha: Información (más ancha) -->
  <div class="w-full md:w-6/12 flex flex-col justify-between p-6 space-y-6">
    <div>
      <div class="flex flex-row justify-between items-center mb-2">
        <div class="flex items-center gap-2">
          <h6 class="text-2xl font-semibold">
            {{ trip?.title ?? 'Unknown Trip' }}
          </h6>
          <span *ngIf="trip?.cancelation !== ''" class="flex items-center gap-1 bg-primary-50 text-primary-600 px-2 py-1 rounded-full text-sm">
            <i class="pi pi-times-circle text-base"></i> Cancelled
          </span>
        </div>
        <div class="text-right">
          <span class="ms-4 text-xl font-medium">{{ trip?.price ?? 'N/A' }} €</span>
        </div>
      </div>
      
      <hr class="border my-4">
      
      <p class="leading-relaxed text-base font-light mb-4">
        {{ trip?.description ?? 'No description available' }}
      </p>
      
      <hr class="border my-6">
      
      <p class="text-left text-lg font-normal">
        From {{ getStartDate('en') }} to {{ getEndDate('en') }}
      </p>
    </div>
    <div class="text-lg font-medium">
      {{ trip?.ticker ?? 'No ticker available' }}
    </div>
    <!-- Información del usuario y ticker -->
    <div class="flex flex-row justify-evenly items-start w-full">
      <div class="flex flex-row text-sm gap-3">
        <p-button label="Edit" icon="pi pi-pencil" class="" (click)="goEdit()" [disabled]="shouldDisableButton(10)"></p-button>
        <p-button label="Delete" icon="pi pi-trash"  (click)="deleteTrip()" [disabled]="shouldDisableButton(10)"></p-button>
        <p-button label="Cancel" icon="pi pi-times"  (click)="goCancel()" [disabled]="shouldDisableButton(7)"></p-button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="trip?.cancelation !== ''" class="flex justify-center mt-6">
  <p-message severity="warn" class="w-full max-w-3xl text-center shadow-md">
    <div class="w-full text-center px-4 py-2">
      <p class="text-base font-medium text-yellow-900">Cancelation reason: {{ trip?.cancelation }}</p>
    </div>
  </p-message>
</div>
