<div class="p-4 pt-0">
    <div class="flex flex-row justify-between mb-4">
        <h5 class="text-xl font-semibold" i18n>Admin Dashboard</h5>
    </div>

    <div>
        <p-fieldset legend="Trips Per Manager Stats" [toggleable]="true">
            <p class="text-surface-400 text-md mb-4" i18n>
                The following statistics are based on the number of trips created by each manager.
            </p>
            <div class="flex flex-wrap gap-4">
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Average</span>
                            <span class="font-bold text-lg">{{tripsByEachManagerStats.average}}</span>
                        </div>
                    </div>
                </p-card>
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Maximum</span>
                            <span class="font-bold text-lg">{{tripsByEachManagerStats.max}}</span>
                        </div>
                    </div>
                </p-card>
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Minimum</span>
                            <span class="font-bold text-lg">{{tripsByEachManagerStats.min}}</span>
                        </div>
                    </div>
                </p-card>
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Standard Deviation</span>
                            <span class="font-bold text-lg">{{tripsByEachManagerStats.stdDev}}</span>
                        </div>
                    </div>
                </p-card>
            </div>
        </p-fieldset>
    </div>

    <div class="mt-4">
        <p-fieldset legend="Applications Per Trip Stats" [toggleable]="true">
            <p class="text-surface-400 text-md mb-4" i18n>
                The following statistics are based on the number of applications created per trip.
            </p>
            <div class="flex flex-wrap gap-4">
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Average</span>
                            <span class="font-bold text-lg">{{applicationsByEachTripStats.average}}</span>
                        </div>
                    </div>
                </p-card>
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Maximum</span>
                            <span class="font-bold text-lg">{{applicationsByEachTripStats.max}}</span>
                        </div>
                    </div>
                </p-card>
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Minimum</span>
                            <span class="font-bold text-lg">{{applicationsByEachTripStats.min}}</span>
                        </div>
                    </div>
                </p-card>
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Standard Deviation</span>
                            <span class="font-bold text-lg">{{applicationsByEachTripStats.stdDev}}</span>
                        </div>
                    </div>
                </p-card>
            </div>
        </p-fieldset>
    </div>

    <div class="mt-4">
        <p-fieldset legend="Price of the Trips Stats" [toggleable]="true">
            <p class="text-surface-400 text-md mb-4" i18n>
                The following statistics are based on the price of the trips created.
            </p>
            <div class="flex flex-wrap gap-4">
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Average</span>
                            <span class="font-bold text-lg">{{tripsPriceStats.average}}</span>
                        </div>
                    </div>
                </p-card>
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Maximum</span>
                            <span class="font-bold text-lg">{{tripsPriceStats.max}}</span>
                        </div>
                    </div>
                </p-card>
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Minimum</span>
                            <span class="font-bold text-lg">{{tripsPriceStats.min}}</span>
                        </div>
                    </div>
                </p-card>
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Standard Deviation</span>
                            <span class="font-bold text-lg">{{tripsPriceStats.stdDev}}</span>
                        </div>
                    </div>
                </p-card>
            </div>
        </p-fieldset>
    </div>

    <div class="mt-4">
        <p-fieldset legend="Applications Status" [toggleable]="true">
            <p class="text-surface-400 text-md mb-4" i18n>
                The following statistics are based on the number of applications created.
            </p>
            <p-metergroup [value]="value" labelPosition="start" >
                <ng-template #label>
                    <div class="flex flex-wrap gap-4">
                        <ng-container *ngFor="let meterItem of value; let index = index">
                            <p-card class="flex-1" styleClass="border border-surface shadow-none">
                                <div class="flex justify-between gap-8">
                                    <div class="flex flex-col gap-1">
                                        <span class="text-surface-400 text-sm">{{ meterItem.label }}</span>
                                        <span class="font-bold text-lg">{{ meterItem.value }}</span>
                                    </div>
                                    <span class="w-8 h-8 rounded-full inline-flex justify-center items-center text-center" [style]="{ 'background-color': meterItem.color, color: '#ffffff' }">
                                        <i [class]="meterItem.icon"></i>
                                    </span>
                                </div>
                            </p-card>
                        </ng-container>
                    </div>
                </ng-template>
                <ng-template #meter let-value let-class="class" let-width="size">
                    <span [class]="class" [style]="{ background: value.color, width: value.width }"></span>
                </ng-template>
                <ng-template #start let-totalPercent="totalPercent">
                    <div class="flex justify-between mt-4 mb-2 relative">
                        <span class="text-surface-400 text-sm font-semibold" i18n>Total</span>
                        <span class="font-medium">{{totalApplications}}</span>
                    </div>
                </ng-template>
            </p-metergroup>
        </p-fieldset>
    </div>

    <div class="mt-4">
        <p-fieldset legend="Finder Stats" [toggleable]="true">
            <p class="text-surface-400 text-md mb-4" i18n>
                The following statistics are based on findings made by explorers.
            </p>
            <div class="flex flex-wrap gap-4">
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Minimum Price Average</span>
                            <span class="font-bold text-lg">{{findersStats.averageMinPrice}}</span>
                        </div>
                    </div>
                </p-card>
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1">
                            <span class="text-surface-400 text-sm" i18n>Maximum Price Average</span>
                            <span class="font-bold text-lg">{{findersStats.averageMaxPrice}}</span>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="mt-4">
                <p-card class="flex-1" styleClass="border border-surface shadow-none">
                    <div class="flex justify-between gap-8">
                        <div class="flex flex-col gap-1 w-full">
                            <span class="text-surface-400 text-sm" i18n>Top 10 Keywords</span>
                            <p-table [value]="findersStats.topKeyWords" class="w-full">
                                <ng-template #header>
                                    <tr>
                                        <th i18n>Keyword</th>
                                        <th i18n>Count</th>
                                    </tr>
                                </ng-template>
                                <ng-template #body let-keyword>
                                    <tr>
                                        <td>{{ keyword.keyword }}</td>
                                        <td>{{ keyword.count }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-card>
            </div>
        </p-fieldset>
    </div>
</div>