<div class="slider">
  <div>
    <div class="arrow-container left" (click)="goToPrevious()">
      <div class="leftArrow">
        <lucide-angular name="chevron-left"></lucide-angular>
      </div>
    </div>
    <div class="arrow-container right" (click)="goToNext()">
      <div class="rightArrow">
        <lucide-angular name="chevron-right"></lucide-angular>
      </div>
    </div>
  </div>
  <img
    class="slide"
    [src]="images[currentIndex]"
  >
  <div class="dotsContainer">
    <div 
      *ngFor="let slide of images; let slideIndex = index"
      class="dot"
      [ngClass]="{ 'active-dot': slideIndex === currentIndex }"
      (click)="goToSlide(slideIndex)">
    </div>
  </div>
</div>
