<p-card styleClass="max-w-lg mx-auto p-6 card">
  <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
    <fieldset>
      <legend class="text-xl font-semibold" i18n>Register as explorer</legend>
      <p-floatlabel variant="on" class="mt-4">
        <label for="email" i18n>Email *</label>
        <input
          pInputText
          id="email"
          type="email"
          formControlName="email"
          class="mt-1 block w-full"
        />
      </p-floatlabel>
      <small *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['email'].errors" class="text-red-500 block mt-1">
        <ng-container *ngIf="registrationForm.controls['email'].errors['required']" i18n>
          Email is required
        </ng-container>
        <ng-container *ngIf="registrationForm.controls['email'].errors['email']" i18n>
          Invalid email format
        </ng-container>
      </small>

      <p-floatlabel variant="on" class="mt-4">
        <label for="password" i18n>Password *</label>
        <input
          pInputText
          id="password"
          type="password"
          formControlName="password"
          class="mt-1 block w-full"
        />
      </p-floatlabel>
      <small *ngIf="registrationForm.controls['password'].touched && registrationForm.controls['password'].errors" class="text-red-500 block mt-1">
        <ng-container *ngIf="registrationForm.controls['password'].errors['required']" i18n>
          Password is required
        </ng-container>
        <ng-container *ngIf="registrationForm.controls['password'].errors['minlength']" i18n>
          Password must be at least 6 characters
        </ng-container>
      </small>

      <p-floatlabel variant="on" class="mt-4">
        <label for="name" i18n>Name *</label>
        <input
          class="ng-invalid ng-dirty"
          pInputText
          id="name"
          type="text"
          formControlName="name"
          class="mt-1 block w-full"
        />
      </p-floatlabel>
      <small *ngIf="registrationForm.controls['name'].invalid && registrationForm.controls['name'].touched" class="text-red-500" i18n>
        Name is required
      </small>

      <p-floatlabel variant="on" class="mt-4">
        <label for="surname" i18n>Surname *</label>
        <input
          pInputText
          id="surname"
          type="text"
          formControlName="surname"
          class="mt-1 block w-full"
        />
      </p-floatlabel>
      <small *ngIf="registrationForm.controls['surname'].invalid && registrationForm.controls['surname'].touched" class="text-red-500" i18n>
        Surname is required
      </small>

      <p-floatlabel variant="on" class="mt-4">
        <label for="phone" i18n>Phone</label>
        <input
          pInputText
          id="phone"
          type="text"
          formControlName="phone"
          class="mt-1 block w-full"
        />
      </p-floatlabel>
      <small *ngIf="registrationForm.controls['phone'].invalid" class="text-red-500" i18n>
        Phone must be valid
      </small>

      <p-floatlabel variant="on" class="mt-4">
        <label for="address" i18n>Address</label>
        <input
          pInputText
          id="address"
          type="text"
          formControlName="address"
          class="mt-1 block w-full"
        />
      </p-floatlabel>

      <p-button type="submit" styleClass="w-full mt-4" i18n> Register </p-button>
    </fieldset>
  </form>

  <div class="mt-4 text-center">
    <div class="text-sm">
      <p i18n>Already registered?</p>
      <a routerLink="/login" class="text-blue-500 hover:underline" i18n>Login</a>
    </div>
  </div>
</p-card>
