<div class="flex flex-col md:flex-row my-6 w-full max-w-4xl mx-auto p-6">
  <!-- Sección Izquierda: Información de la solicitud y del viaje -->
  <div class="w-full md:w-5/12 flex flex-col p-6">
    <div class="mb-2">
      <span [ngClass]="getApplicationStatusClass()" class="text-xs font-semibold me-2 px-2.5 py-0.5 rounded-full mb-2">
        {{getApplicationStatus()}}
      </span>
    </div>
    <div>
      <p-message *ngIf="getApplicationStatus() === 'REJECTED' && getApplicationReason()"  severity="error">
        {{ getApplicationReason() }}
      </p-message>
    </div>
    

    <div class="flex justify-between mt-4">
      <h6 class="text-2xl font-semibold">
        {{ getTripTitle() }}
      </h6>
      <p class="text-lg font-medium">
        {{ getTripPrice() }} {{this.currentChange}}
      </p>
  </div>
    <p class="leading-relaxed text-base font-light my-4">
      {{ getTripDescription() }}
    </p>
    <!-- Botones de acción -->
    <div class="flex mt-4 gap-2">
      <p-button class="w-full" label="Trip" 
                icon="pi pi-info-circle"
                [fluid]="true"
                (onClick)="goTripDetails()">
      </p-button>
      <p-button class="w-full" *ngIf="isApplicationCancelable()" 
                label="Cancel" 
                icon="pi pi-times" 
                [fluid]="true"
                (onClick)="showCancelDialog()">
      </p-button>
    </div>
    <ngx-paypal *ngIf="getApplicationStatus() === 'DUE'" class="mt-4" [config]="payPalConfig" ></ngx-paypal>
  </div>
  
  <!-- Separador -->
  <div class="w-full md:w-1/12 flex items-center justify-center">
    <p-divider layout="vertical" class="!hidden md:!flex"></p-divider>
    <p-divider layout="horizontal" class="!flex md:!hidden" align="center"></p-divider>
  </div>
  
  <!-- Sección Derecha: Mensajes del usuario -->
  <div class="w-full md:w-6/12 flex flex-col p-6">
    <h2 class="text-2xl font-semibold mb-4" i18n>Messages</h2>
    <p class="text-sm mb-4" *ngIf="getApplicationMessages()?.length === 0" i18n>
      No messages available
    </p>
    <div *ngFor="let message of getApplicationMessages()" class="mb-4 p-4 border rounded shadow-sm">
      <p class="text-base">{{ message }}</p>
    </div>
  </div>
</div>

<p-dialog header="Cancel Application" [modal]="true" [(visible)]="isVisibleCancelDialog" [style]="{ width: '25rem' }">
  <form [formGroup]="cancelForm" (ngSubmit)="cancel()">
    <div class="flex items-center w-full mb-4">
      <p-ifta-label variant="on" class="w-full">
          <label for="reason" class="font-semibold w-24" i18n>Reason</label>
          <textarea pTextarea id="reason" class="w-full" formControlName="reason" 
            placeholder="Enter the reason for cancellation"></textarea>
      </p-ifta-label>
    </div>
    <div class="flex justify-end gap-2">
      <p-button label="Cancel Application" type="submit" [disabled]="!cancelForm.valid" icon="pi pi-check"></p-button>
    </div>
  </form>
</p-dialog>
