<div class="flex flex-col md:flex-row my-6 w-full max-w-4xl mx-auto p-6">
  <!-- Sección Izquierda: Carrusel -->
  <div class="w-full md:w-5/12 flex flex-col items-center justify-center p-6">
    <app-img-carousel [images]="getPictures()" class="w-full max-w-lg"></app-img-carousel>
    <div class="flex flex-wrap gap-2 mt-4">
      <span *ngFor="let requirement of getRequirements() ?? []"
        class="bg-primary-300 text-primary-950 text-sm font-semibold px-3 py-1 rounded-full">
        {{ requirement }}
      </span>
    </div>
  </div>
  
  <!-- Separador -->
  <div class="w-full md:w-1/12 flex items-center justify-center">
    <p-divider layout="vertical" class="!hidden md:!flex"></p-divider>
    <p-divider layout="horizontal" class="!flex md:!hidden" align="center"></p-divider>
  </div>
  
  <!-- Sección Derecha: Información (más ancha) -->
  <div class="w-full md:w-6/12 flex flex-col justify-between p-6 space-y-6">
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-2">
        <h6 class="text-2xl font-semibold">
          {{ trip?.title ?? 'Unknown Trip' }}
        </h6>
        <span *ngIf="trip?.cancelation" class="flex items-center gap-1 bg-primary-50 text-primary-600 px-2 py-1 rounded-full text-sm" i18n>
          <i class="pi pi-times-circle text-base"></i> Cancelled
        </span>
      </div>
      <div class="text-right">
        <span class="ms-4 text-xl font-medium">{{ trip?.price ?? 'N/A' }} {{this.currentChange}}</span>
      </div>
    </div>
    
    <hr class="border my-4">
    
    <p class="leading-relaxed text-base font-light mb-4">
      {{ trip?.description ?? 'No description available' }}
    </p>
    
    <hr class="border my-6">
    
    <p class="text-left text-lg font-normal" i18n>
      From {{ getStartDate('en') }} to {{ getEndDate('en') }}
    </p>

    <!-- Información del usuario y ticker -->
    <div class="flex items-center justify-between pt-6">
      <div class="flex items-center">
        <i class="pi pi-user" style="font-size: 2.5rem"></i>
        <div class="flex flex-col ml-3 text-sm">
          <span class="font-semibold">{{ manager?.name || 'Cargando' }} {{manager?.surname || 'Cargando'}}</span>
        </div>
      </div>
      <div class="text-lg font-medium">
        {{ trip?.ticker ?? 'No ticker available' }}
      </div>
    </div>
    <div class="flex flex-row gap-2">
      <p-button *ngIf="isExplorer() && isTripApplicable()" label="Apply now" icon="pi pi-check" class="mt-6 max-w-xs" (onClick)="goApply()" [disabled]="!!trip?.cancelation"></p-button>
      <p-button *ngIf="isExplorer() && isTripApplicable()" label="Add to List" icon="pi pi-book" class="mt-6 max-w-xs" (onClick)="goAddToList()" [disabled]="!!trip?.cancelation"></p-button>
      <p-button *ngIf="isExplorer() && isTripApplicable()" label="Add to Watchlist" icon="pi pi-book" class="mt-6 max-w-xs" (onClick)="addTripIdToWatchlistInLocalStorage()" [disabled]="!!trip?.cancelation || tripExistsInWatchlist()"></p-button>
    </div>
  </div>
</div>
<div class="flex flex-col md:flex-row  w-full max-w-4xl mx-auto">
  <div class="w-full flex flex-col items-center">
    <div *ngIf="trip?.cancelation !== ''" class="flex justify-center mt-6">
      <p-message severity="warn" class="w-full max-w-3xl text-center shadow-md">
        <div class="w-full text-center px-4 py-2">
          <p class="text-base font-medium text-yellow-900" i18n>Cancelation reason: {{ trip?.cancelation }}</p>
        </div>
      </p-message>
    </div>
    <div *ngIf="trip?.cancelation === '' && countdownConfig && !countdownCompleted" class="flex justify-center mt-6 mb-6">
      <p-message severity="info" class="w-full max-w-3xl text-center shadow-md">
        <div class="w-full text-center px-4 py-2" i18n>
          Starts in
          <countdown [config]="countdownConfig" (event)="handleCountdownEvent($event)"></countdown>
        </div>
      </p-message>
    </div>
    <div class="flex flex-row justify-between items-center mb-2">
      <h6 class="text-2xl font-semibold" i18n>Stages</h6>
    </div>
    <p-table [value]="trip?.stages || []" class="w-full max-w-3xl">
      <ng-template pTemplate="header">
        <tr>
          <th i18n>Title</th>
          <th i18n>Description</th>
          <th i18n>Price</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-stage>
        <tr>
          <td>{{ stage.title }}</td>
          <td>{{ stage.description }}</td>
          <td>{{ stage.price }} {{this.currentChange}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="w-full flex flex-col items-center mt-20">
  <app-sponsorship-banner></app-sponsorship-banner>
</div>