<p-card class="relative flex flex-col w-full card" [ngClass]="{'opacity-70': trip?.cancelation !== '' || isExpired() }">
  <div class="p-4 flex flex-col gap-2 w-full">
    <div class="flex flex-row flex-wrap gap-1">
      <h3 class="text-lg font-bold">{{ trip.title }}</h3>
      <span *ngIf="trip?.cancelation === '' && startsInLessThanAWeek()" class="flex items-center gap-1 bg-yellow-200 text-yellow-700 px-2 py-1 rounded-full text-sm">
        <i class="pi pi-exclamation-circle text-base"></i> It starts soon
      </span>
      <span *ngIf="trip?.cancelation !== ''" class="flex items-center gap-1 bg-primary-50 text-primary-600 px-2 py-1 rounded-full text-sm">
        <i class="pi pi-times-circle text-base"></i> Cancelled
      </span>
      <span *ngIf="trip?.cancelation === '' && isExpired()" class="flex items-center gap-1 bg-gray-200 text-gray-700 px-2 py-1 rounded-full text-sm">
        <i class="pi pi-clock text-base"></i> Expired
      </span>
    </div>
    <p class="text-sm">Ticker: {{ trip.ticker }}</p>
    <p class="text-sm">From {{ getStartDate('en') }} to {{ getEndDate('en') }}</p>
    <p class="text-sm">Price: {{ trip.price }} €</p>
    <div class="flex flex-wrap justify-end items-center gap-2">
      <p-button label="Details" icon="pi pi-info-circle" class="p-button-secondary" (click)="goDetails()" [disabled]="trip?.cancelation !== '' || isExpired()"></p-button>
      <p-button label="Delete" icon="pi pi-trash" (click)="deleteTrip()"></p-button>
    </div>
  </div>
</p-card>
