<p-card styleClass="max-w-lg mx-auto p-6 card" ngSkipHydration>
  <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend class="text-xl font-semibold">Application Form</legend>
      <h3 class="text-md font-semibold mt-2">{{trip?.title}}</h3>

      <p class="text-sm mb-4">Please fill out the form below to apply for the trip.</p>

      <div class="p-field">
        <p-iftaLabel>Messages:</p-iftaLabel>
        <div formArrayName="messages">
          <div *ngFor="let req of messages.controls; let i = index" class="p-inputgroup flex items-start space-x-2 mt-1">
            <input [formControlName]="i" pTextarea  class="flex-grow" maxlength="65"/>
            <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="removeMessage(i)"> </button>
          </div>
        </div>
        <button pButton type="button" icon="pi pi-plus" class="p-button-success mt-1" (click)="addMessage()">Add Message</button>
      </div>


      <p-button type="submit" styleClass="w-full mt-4" [disabled]="loading">
        <span *ngIf="!loading">Save Application</span>
        <span *ngIf="loading">Saving...</span>
      </p-button>
      
      <p-button type="button" styleClass="w-full mt-2 p-button-secondary" (click)="onReset()" [disabled]="loading">
        Reset
      </p-button>

      <div *ngIf="success" class="text-green-500 mt-4">{{ success }}</div>
      <div *ngIf="error" class="text-red-500 mt-4">{{ error }}</div>
    </fieldset>
  </form>
</p-card>
